
<label for="filtro">seleccione el tamaño</label>
<select name="" id="" [(ngModel)] ='tamanio'>
    <option value="seleccione" selected="true">seleccione</option>
    <option value="pequeño">pequeño</option>
    <option value="mediano">mediano</option>
    <option value="grande">grande</option>

  </select>

<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Producto</th>
        <th scope="col">Tamaño</th>
        
 </tr>
    </thead>
    <tbody>
        @for (item of producto; track item) {
      <tr>
        @if (item.tamanio==tamanio) {
            <th scope="row">{{item.id}}</th>
            <td>{{item.producto}}</td>
           <td>{{item.tamanio}}</td>  
           
          
            <td>
              <button class="btn btn-success"[routerLink]="['/productoForm']">EDITAR</button><br>
             
              <button class="btn btn-danger" (click)="eliminar(item.id)" >ELIMINAR</button>
         
            </td> 

        }@else if (tamanio=='seleccione') {
            <th scope="row">{{item.id}}</th>
            <td>{{item.producto}}</td>
           <td>{{item.tamanio}}</td>  
           
          
            <td>
              <button class="btn btn-success"[routerLink]="['/productoForm']">EDITAR</button><br>
             
              <button class="btn btn-danger" (click)="eliminar(item.id)" >ELIMINAR</button>
         
            </td> 
        }
       
      </tr>
    }

    </tbody>
  </table>


  <div >
 <button (click)="cerrar()">CERRAR</button>

</div>
 
 